<div style="background-color: rgb(243, 153, 117); height: 100vh">
  <div class="mx-auto bg-light p-3" style="font-family: cursive; width: 35rem">
    <h3 class="text-center text-info">Register</h3>
    <form action="/register" method="post" >
      <!-- name input -->
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Name</div>
          <input
            name="name"
            type="text"
            class="form-control"
            id="autoSizingInputGroup"
            placeholder="Entre your name"
            required=""
          />
        </div>
      </div>
      <br />
      <!-- Email input -->
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Email</div>
          <input
            name="email"
            type="email"
            class="form-control"
            id="autoSizingInputGroup"
            placeholder="abc@def.com"
            required=""
          />
        </div>
      </div>
      <br />
      <!-- Password input -->
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Password</div>
          <input
            name="password"
            type="password"
            class="form-control"
            id="autoSizingInputGroup"
            placeholder="Entre your Password"
            required=""
          />
        </div>
      </div>
      <br />
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign in
      </button>
    </form>
  </div>
</div>
